@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

* {
	font-family: 'Nunito', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	text-transform: capitalize;
	transition: .2s linear;
}

html {
	font-size: 62.5%;
}

section {
	padding: 2rem 9%;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2rem 9%;
	z-index: 2;
	background: #CD5C5C;
}

.header .logo img {
	height: 11rem;
}

.header .navbar #close {
	display: none;
}

.header .navbar a {
	font-size: 2rem;
	margin-right: 2rem;
	color: #fff;
}

.header .navbar a:hover {
	color: #d3ad7f;
}

.header #menu {
	display: none;
}

.home {
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
	background: #CD5C5C;
}

.home .content {
	flex: 1 1 40rem;
}

.home .content .title {
	font-size: 5rem;
	color: #fff;
	text-transform: uppercase;
}

.home .content .title span {
	text-transform: uppercase;
	color: #d3ad7f;
}

.home .content .description {
	font-size: 2rem;
	font-weight: lighter;
	line-height: 1.8;
	padding: 1rem 0;
	color: #fff;
}

.home .image {
	flex: 1 1 40rem;
}

.home .image img {
	width: 100%;
}

.about,
.menu,
.contact {
	background-color: #CD5C5C; /* Same background color as the header */
	padding: 2rem 9%; /* Same padding as the header */
	color: #fff; /* Same text color as the header */
}

.about h2,
.menu h2,
.contact h2 {
	margin-bottom: 20px;
	font-size: 3rem; /* Same font size as the header */
	text-transform: uppercase;
	align-items: center;
	justify-content: center; 
}

.about p,
.menu ul,
.contact p {
	font-size: 2rem; /* Same font size as the header */
	line-height: 1.8;
}

.about p,
.contact p {
	margin-bottom: 1.5rem;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.menu .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 500px; /* Limiting the width of the menu items */
    margin-top: 20px;
}

.menu-item {
    background-color:#F08080;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    text-align: center;
    flex: 1 1 100px; /* Adjust width of each menu item */
}

.menu-item img {
    max-width: 50%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.flavor-prices {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flavor-price {
    flex: 0 1 30%;
    padding: 10px;
    border-radius: 10px;
    background-color: #000000;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.flavor-price:hover {
    transform: translateY(-5px);
}

.flavor-price h3 {
    font-size: 1.6rem;
    margin-bottom: 5px;
}

.flavor-price p {
    font-size: 1.4rem;
    color: #DB7093;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 20px 0;
	text-align: center;
}
